name: game_services_firebase_auth
description: A Flutter plugin that simplifies Firebase Authentication using GameCenter on iOS and Play Games on Android.
version: 2.0.1
homepage: https://www.revoltgames.io/
repository: https://github.com/revoltgames/game_services_firebase_auth.git

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  firebase_auth: ^5.3.0
  plugin_platform_interface: ^2.1.8
  logging: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

false_secrets:
  - /example/android/app/google-services.json

flutter:
  plugin:
    platforms:
      android:
        package: io.revoltgames.game_services_firebase_auth
        pluginClass: GameServicesFirebaseAuthPlugin
      ios:
        pluginClass: GameServicesFirebaseAuthPlugin
